<div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Détails de l'Événement</h2>
      <div *ngIf="event">
        <p><strong>Titre:</strong> {{ event.title }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Catégorie:</strong> {{ event.category }}</p>
        <!-- Ajoute d'autres détails ici -->
      </div>
    </div>
  </div>
  